
Ex01WindClimateABL/\.ipynb_checkpoints/

Ex01WindClimateABL/__pycache__/

Ex03StructuralAnalysisVersion2/\.ipynb_checkpoints/

Ex03StructuralAnalysis/\.ipynb_checkpoints/

Ex02FlowVisualization/\.ipynb_checkpoints/
